<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="LOGSTASH" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <springProfile name="dev">
    <root level="info">
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>

<springProfile name="tst01">
  <root level="info">
    <appender-ref ref="LOGSTASH"/>
  </root>
</springProfile>

<springProfile name="tst02">
  <root level="info">
    <appender-ref ref="LOGSTASH"/>
  </root>
</springProfile>

<springProfile name="prd">
  <root level="warn">
    <appender-ref ref="LOGSTASH"/>
  </root>
</springProfile>

</configuration>
